MusicPlayer_WCF/Service References/MusicServiceReference/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ItransferService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="1200000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ItransferService_GetPlaylist_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlaylist" />
  </wsdl:message>
  <wsdl:message name="ItransferService_GetPlaylist_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlaylistResponse" />
  </wsdl:message>
  <wsdl:message name="ItransferService_GetLargeObject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLargeObject" />
  </wsdl:message>
  <wsdl:message name="ItransferService_GetLargeObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLargeObjectResponse" />
  </wsdl:message>
  <wsdl:portType name="ItransferService">
    <wsdl:operation name="GetPlaylist">
      <wsdl:input wsaw:Action="http://tempuri.org/ItransferService/GetPlaylist" message="tns:ItransferService_GetPlaylist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ItransferService/GetPlaylistResponse" message="tns:ItransferService_GetPlaylist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLargeObject">
      <wsdl:input wsaw:Action="http://tempuri.org/ItransferService/GetLargeObject" message="tns:ItransferService_GetLargeObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ItransferService/GetLargeObjectResponse" message="tns:ItransferService_GetLargeObject_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ItransferService" type="tns:ItransferService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPlaylist">
      <soap:operation soapAction="http://tempuri.org/ItransferService/GetPlaylist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLargeObject">
      <soap:operation soapAction="http://tempuri.org/ItransferService/GetLargeObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_ItransferService" type="tns:ItransferService">
    <wsp:PolicyReference URI="#NetTcpBinding_ItransferService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetPlaylist">
      <soap12:operation soapAction="http://tempuri.org/ItransferService/GetPlaylist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLargeObject">
      <soap12:operation soapAction="http://tempuri.org/ItransferService/GetLargeObject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_ItransferService" binding="tns:BasicHttpBinding_ItransferService">
      <soap:address location="http://localhost:54322/net" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_ItransferService" binding="tns:NetTcpBinding_ItransferService">
      <soap12:address location="net.tcp://localhost:54321/nett" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:54321/nett</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>